@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

body{
    color: azure;
    background: black;
    margin:0px;
}
h1{
    text-align: center;
    color: rgb(242, 233, 250);
    background-color: darkblue;
    display:inline-block;
    margin-left: 41%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5%;
}

h2{
    justify-content: center;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: italic;
}
section{
    text-align: center;
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}