body{
    color: azure;
    background-color: black;
}
header{
    border: solid 10px rgb(142, 35, 230);
}
h1{
    text-align: center;
    color: blueviolet;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}