@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');

body{
    color: azure;
    background: black;
    margin:0px;
}
h1{
    text-align: center;
    color: rgb(242, 233, 250);
    font-size: 60px;
    padding-top: 10px;
    font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
}

h2{
    color: black;   
    text-align: center;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: italic;
}

h3{
    color: azure;
    font-family: "UnifrakturMaguntia", cursive;
}
section{
    background: rgb(76, 3, 90);
    padding-bottom: 80px;
    padding-top: 80px;
    text-align: center;
    
}
.chamada-texto {
    margin-right: 5%;
}
img {
    height: 200px;
  }
  .chamada {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  .categoria {
    padding-left: 20px;
    padding-right: 20px;
  }